body {
    background-color: #e8e8e8;
}

ul:hover {
    cursor: pointer;
    background-color: #babab4;
}

input.searchfield {
    width: 50%;
    height: 30px;

    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
}

div.container {
    width: auto;
    height: auto;

    padding-left: 25%;
    padding-right: 25%;
}

div.clubs {
    width: 22%;
    height: 75%;

    overflow-y: auto;
    padding-right: 1%;
    position: absolute;
    top: 20%;
    bottom: auto;
    right: auto;
    left: 1%;
}

div.map {
    width: 50%;
    height: 100%;

    position: absolute;
    right: 25%;
    left: 25%;
    top: 20%;
}

select.options {
    height: 30px;

    position: absolute;
    top: 15%;
    right: 75%;
    left: auto;
}

#mapCanvas {
    height: 75%;
}
