input.searchfield {
    width: 50%;
    height: 30px;

    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
}

body {
    background-color: #d5d5d5;
}

div.container {
    width: 50%;
    height: 100%;

    padding-left: 25%;
    padding-right: 25%;
}

div.clubs {
    width: 24%;
    height: 75%;

    overflow-y: auto;

    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: 0;
}

div.map {
    width: 50%;
    height: 100%;

    position: absolute;
    right: 25%;
    left: 25%;
    top: 20%;
}

#mapCanvas {
    height: 75%;
}
