<!DOCTYPE html>

<html>
    <head>
        <!-- scripts and global css -->
        <link rel="stylesheet" href="CSS/pageStyle.css">

        <script type="text/javascript" src="components/angular/angular.js"></script>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt1Kld3uNHBxIscUTPguZ39osS61oVA9k"></script>
        <script type="text/javascript" src="sportsclubforme.js"></script>
        <script type="text/javascript" src="map_widget/map.js"></script>

        <title>A Sports Club for me</title>

    </head>

    <body>

        <div ng-app="app">

            <h1 style="font-size:300%;text-align:center"> A Sports Club for me </h1>

            <div class="container" ng-controller="ClubData">
                <panel>
                    <input type="search" ng-model="searchCriteria" ng-change="searchClub()"
                           placeholder="Geben sie hier ihr Suchbegriff ein ....">
                </panel>

                <div class="clubs">
                    <!-- Only do this if you wanna do a simple search -->
                    <ul ng-repeat="result in results" ng-hide="searchCriteria == ''">
                        <!-- Add this if you want to sort the search with key value pairs -->
                        <ul ng-repeat="(key,value) in result">
                            <Span style=" font-size: 1.2em">{{value.clubname}}</Span> <br>
                            <em>{{value.address + ' , '}}</em>
                            <em>{{value.postcode}}</em>
                            <em>{{value.phonenumber}}</em>
                            <em>{{value.webpage}}</em>
                            <hr>
                        </ul>
                    </ul>
                </div>
            </div>

            <div ng-controller="MapCtrl">
                <div class="map" id="mapCanvas"></div>
            </div>
        </div>
    </body>
</html>